.services_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 100px;
    gap: 3em;
    position: relative;


}

.services_main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;

    
}


.layer10{
    z-index: -1;
    position: absolute;
    top: 170px;
    left: 0;
    background-image: url("../../../../assets/svg/layout10.svg");
}
