
.sign{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 60px 0;
}
.wariningContiner{
    padding: 10px;
    font-size: 1rem;
    color: white;
    background: black;
    text-align: center;
    display: none;
    font-family: sans-serif;
    font-size: 1.2rem;
}
.sign_main{
    width: 320px;
    height: 600px;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--card-bg);
    box-shadow: 5px 20px 50px #000;


    .sign_check{
        display: none;
    }
    
    
    
    .sign_signup{
            position: relative;
            width: 100%;
            height: 100%;
    }
    
    
    .sign_label{
        color: var(--primary-color);
        font-size: 2.3rem;
        display: flex;
        justify-content: center;
        margin: 60px;
        font-weight: bold;
        cursor: pointer;
        transition: .5s ease-in-out;
    }
    
    .sign_input{
        width: 60%;
        height: 20px;
        background: var(--secondary-card);
        display: flex;
        justify-content: center;
        padding: 20px;
        margin: 20px auto;
        border: none;
        outline: none;
        border-radius: 5px;
    }
    
    
    .sign_btn{
        width: 60%;
        height: 40px;
        margin: 10px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--body-bg);
        background: var(--primary-color) ;
        font-size: 1em;
        font-weight: bold;
        margin-top: 20px;
        outline: none;
        border-radius: 5px;
        transition: .2s ease-in; 
        border: none;
        cursor: pointer;
    
        &:hover{
            border: 1px solid var(--primary-color);
            background-color: transparent;
            color: var(--primary-color);
        }
    
    
        
        
    }
    
    
    .sign_login{
        height: 580px;
        border-radius: 60% / 10%;
        transform: translateY(-180px);
        transition: .8s ease-in-out;
        background-color: rgb(58, 69, 77);
        width: 100%;
    }
    
    
    .sign_login label{
        color: #ffffff;
        transform: scale(.6);
    }
    
    
}



.spacer{
    aspect-ratio: 900/600;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer3{
    z-index: -1;
    position: absolute;
    bottom: 1px;
    left: 0;
    background-image: url("../../assets/svg/layout3.svg");
}



.login-icon-{

    &carrot{
        position: absolute;
        top: -50px;
        left: 30px;
        color: rgba(105, 105, 105, 0.463);
        font-size: 35px;
        transform: rotate(30deg);
   
       }

    &utensils{
        position: absolute;
        bottom: 50px;
        right: 15px;
        color: rgba(105, 105, 105, 0.463);
        font-size: 25px;
        transform: rotate(-30deg);
        @media (min-width: 700px){
            font-size: 35px;
           }
    }
    &mug-hot{
        position: absolute;
        top: -30px;
        right: 40px;
        color: rgba(105, 105, 105, 0.463);
        font-size: 35px;
        transform: rotate(-30deg);
        
    }
    &pepper-hot{
        position: absolute;
        top: 30px;
        left: 25px;
        color: rgba(105, 105, 105, 0.463);
        font-size: 35px;
        transform: rotate(30deg);

     
    }
    &pizza-slice{
        position: absolute;
        top: 350px;
        right: 20px;
        color: rgba(105, 105, 105, 0.463);
        font-size: 35px;
        transform: rotate(-30deg);
        
    }
    &ice-cream{
        position: absolute;
        top: 300px;
        left: 20px;
        color: rgba(105, 105, 105, 0.463);
        font-size: 35px;
        transform: rotate(60deg);
        
    }
    &martini-glass-citrus{
        position: absolute;
        top: 50px;
        right: 30px;
        color: rgba(105, 105, 105, 0.463);
        font-size: 30px;
        transform: rotate(20deg);
        

    }
    &drumstick-bite{
        position: absolute;
        top: -40px;
        left: 150px;
        color: rgba(105, 105, 105, 0.463);
        font-size: 30px;
        transform: rotate(30deg);
        
        
    }
    &burger{
        position: absolute;
        top: 100px;
        left: 20px;
        color: rgba(105, 105, 105, 0.463);
        font-size: 35px;
        transform: rotate(-100deg);

    }
    &shrimp{
        position: absolute;
        top: 190px;
        left: 20px;
        color: rgba(105, 105, 105, 0.463);
        font-size: 35px;
        transform: rotate(-20deg);
     
    }
    &wheat-awn{
        position: absolute;
        top: 135px;
        right: 20px;
        color: rgba(105, 105, 105, 0.463);
        font-size: 35px;
        transform: rotate(-120deg);
     
        
    }
    &cookie-bite{
        position: absolute;
        top: 250px;
        right: 15px;
        color: rgba(105, 105, 105, 0.463);
        font-size: 35px;
        transform: rotate(20deg);
        
    }
    &computer{
        position: absolute;
        top: 420px;
        left: 15px;
        color: rgba(105, 105, 105, 0.463);
        font-size: 30px;
        transform: rotate(20deg);
        
    }
    &phone2{
        position: absolute;
        top: 60px;
        left: 120px;
        color: rgba(105, 105, 105, 0.463);
        font-size: 30px;
        transform: rotate(-50deg);
    }


   }
  


#ckk{
    display: none;
}
#chk:checked ~ .sign_login{
    transform: translateY(-600px);
}
#chk:checked ~ .sign_login label{
    margin-top: 10px;
    transform: scale(1);
}
#chk:checked ~ .sign_signup label{
    transform: scale(.6);
}


