.todo__main{
    width: 100%;
    min-height: 100vh;
    padding: 100px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;


    .todo__container{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1em;
    }

    .card {
        width: 300px;
        height: 170px;
        border-radius: 10px;
       }
       
       .card {
        font-family: "Arial";
        color: #fff;
        display: grid;
        cursor: pointer;
        grid-template-rows: 50px 1fr;
       }
       
       .card:hover .img-section {
        transform: translateY(1em);
       }
       
       .card-desc {
        border-radius: 10px;
        padding: 15px;
        position: relative;
        top: -10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: var(--card-bg);
       }
       
       .card-text {
        font-size: 1.5em;
        font-weight: 700;
        color: var(--primary-color);
       }
       
       .img-section {
        transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background: var(--primary-color);
        position: relative;
       }
       
       .card-header {
        display: flex;
        align-items: center;
        width: 100%;
       }
       
       .card-title {
        flex: 1;
        font-size: 0.8em;
        font-weight: 500;
        color: var(--secondary-color);
        font-weight: 600;

       }
       
       .card-menu {
        margin-right: 5px;
    }
       
       .card svg {
        position: absolute;
        right: -50px;
        top: 3px;
        max-width: 100%;
        max-height: 100%;
        transform: rotate(50deg);
       }
       
       .card .dot {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: var(--dot-clr);
       }
       
       .card .recent {
        color: var(--secondary-color);
        font-weight: 600;
        font-size: 0.8em;
        letter-spacing: .5px;
    }
}