.new-arrival {
    width: 100%;
    padding: 100px 100px 0 100px;
    display: flex;
    flex-direction: column;

    .title{
        margin: 0 auto 30px auto;
        text-align: center;


        span{
            font-weight: 500;
        }
        h2{
            font-weight: 700;
            font-size: 3rem;
        }
        
    }
    .row {
      display: grid;
  
      .col {
          position: relative;
          padding: 1rem;

          &:hover{
            transform: scale(1.02);
            transition: all .5s;
          }
          
          img {
            border-radius: 20px;
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: .5;
        }
  
        &-1,
        &-2 {
          grid-column: 1;
        }
  
        &-3 {
          grid-column: 2;
          grid-row: 1 / span 2;
        }
  
        h3 {
          position: absolute;
          bottom: 10%;
          left: 5%;
          color: var(--primary-color);
          font-size: 1.8rem;


          span {
              font-size: 1rem;
            display: block;
            color: var(--secondary-color);

          }
        }
      }
    }
  }
  
  @media (max-width: 967px) {
    .new-arrival {
      .row {
        .col {
          h3 {
            font-size: 1.6rem;
            line-height: 2.5rem;
          }
        }
      }
    }
  }
  
  @media (max-width: 800px) {
    .new-arrival {
      .row {
        display: block;
        .col {
          h3 {
            left: 10%;
            bottom: 15%;
            font-size: 1rem;
            line-height: 1.2rem;

            span{
              margin-top: 5px;
              font-size: 12px;
            }
            
          }

        }
      }
    }
  }
  