.company{
    width: 100%;
    min-height: 100vh ;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    text-align: center;

    &_description{
        width: 80%;
        max-width: 900px;
        line-height: 35px;
    }

    &_objective{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 2em;

        &_info{
            width: 80%;
        max-width: 500px;

        h3{
            margin-bottom: 10px;
            font-size: 2.2rem;
            color: var(--primary-color);
            
            span{
                color: var(--heading-color);
            }
        }

        p{
            line-height: 35px;
        }
        }

        &_container{
            width:400px;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    &_history{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 2em;

        &_info{
            width: 80%;
        max-width: 500px;

        h3{
            margin-bottom: 10px;
            font-size: 2.2rem;
            color: var(--primary-color);
            
            span{
                color: var(--heading-color);
            }
        }

        p{
            line-height: 35px;
        }
        }

        &_container{
            width:400px;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }


    &_socials{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1em;
        margin-top: 30px;
        
        &_card{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            gap: .5em;
            padding: 40px;
            cursor: pointer;

            &:hover{
                transform: scale(1.1);
                transition: all .5s;
            }

            i{
                font-size: 1.2rem;
            }
            background-color: var(--secondary-card);
        }
    }
}