.aboutus{
    width: 100%;
    min-height: calc(100vh - 100px) ;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    .aboutus_card {
        width: 200px;
        height: 280px;
        background: var(--card-bg);
        padding: 2rem 1.5rem;
        border-radius: 10px;
        
        transition: box-shadow .3s ease, transform .2s ease;
       }
       
       .aboutus_card-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform .2s ease, opacity .2s ease;
       }
       
       /*Image*/
       .aboutus_card-avatar {
        --size: 100px;
        background: linear-gradient(to top, #1d5977 0%, #4188b5 100%);
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        transition: transform .2s ease;
        margin-bottom: 1rem;

        img{
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
       }
       
       
       /*Card footer*/
       .aboutus_card-social {
        transform: translateY(200%);
        display: flex;
        justify-content: space-around;
        width: 100%;
        opacity: 0;
        transition: transform .2s ease, opacity .2s ease;
       }
       
       .aboutus_card-social__item {
        list-style: none;
       }
       
       .aboutus_card-social__item svg {
        display: block;
        height: 25px;
        width: 25px;
        fill: var(--secondary-color);
        cursor: pointer;
        transition: fill 0.2s ease ,transform 0.2s ease;
       }
       
       /*Text*/
       .aboutus_card-title {
        color: var(--primary-color);
        font-size: 1.5em;
        font-weight: 600;
        line-height: 2rem;
       }
       
       .aboutus_card-subtitle {
        color: var(--secondary-color);
        font-size: 0.8em;
       }
       
       /*Hover*/
       .aboutus_card:hover {
        box-shadow: 0 8px 50px #23232333;
       }
       
       .aboutus_card:hover .aboutus_card-info {
        transform: translateY(-5%);
       }
       
       .aboutus_card:hover .aboutus_card-social {
        transform: translateY(100%);
        opacity: 1;
       }
       
       .aboutus_card-social__item svg:hover {
        fill: var(--primary-color);
        transform: scale(1.1);
       }
       
       .aboutus_card-avatar:hover {
        transform: scale(1.1);
       }
}