.plan-card {
  background: var(--secondary-card);
  width: 15rem;
  padding: 20px 2rem 40px 2rem;
  border-radius: 10px;
  border-bottom: 4px solid var(--secondary-color);
}

.plan-card h2 {
  margin-bottom: 15px;
  font-size: 27px;
  font-weight: 600;
}

.plan-card h2 span {
  display: block;
  margin-top: -2px;
  color: var(--secondary-color);
  font-size: 10px;
  font-weight: 400;
}

.etiquet-price {
  position: relative;
  background: var(--primary-color);
  width: 14.46rem;
  margin-left: -0.65rem;
  padding: .2rem 1.2rem;
  border-radius: 5px 0 0 5px;
}

.etiquet-price p {
  margin: 0;
  padding-top: .4rem;
  display: flex;
  font-size: 1.9rem;
  font-weight: 700;
  color: var(--body-bg);
}

.etiquet-price p:before {
  content: "$";
  margin-right: 5px;
  font-size: 15px;
  font-weight: 500;
}

.etiquet-price p:after {
  content: "/mes";
  margin-left: 5px;
  font-size: 12px;
  font-weight: 500;
}

.etiquet-price div {
  position: absolute;
  bottom: -23px;
  right: 0;
  width: 0;
  height: 0;
  border-top: 13px solid #6e6e6e;
  border-bottom: 10px solid transparent;
  border-right: 13px solid transparent;
  z-index: -6;
}

.benefits-list {
  margin-top: 16px;
}

.benefits-list ul {
  padding: 0;
  font-size: 14px;
}

.benefits-list ul li {
  color: var(--secondary-color);
  list-style: none;
  margin-bottom: .2rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.benefits-list ul li svg {
  width: .9rem;
  fill: currentColor;
}

.benefits-list ul li span {
  font-weight: 300;
}

.button-get-plan {
  display: flex;
  justify-content: center;
  margin-top: 1.2rem;
}

.button-get-plan a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--body-bg);
  padding: 12px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: .8rem;
  letter-spacing: .05rem;
  font-weight: 700;
  transition: all 0.3s ease;
  margin-top: 10px;
}

.button-get-plan a:hover {
  transform: translateY(-3%);
  background: transparent;
  color: var(--primary-color);
  box-shadow: 0 3px 10px var(--primary-color);
}

.button-get-plan .svg-rocket {
  margin-right: 10px;
  width: .9rem;
  fill: currentColor;
}