.card-home{
    width: 300px;
    height: 180px;
    background-color: var(--secondary-color);
    padding: 0;

}

.card-home__title{
    color: var(--primary-color);
}


.card-home {
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    
}
  
  .circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(#b4d814, #6af08e);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
  }
  

  


  .circle:nth-child(1) {
    top: -115px;
    left: -75px;
    z-index: 10;
  }
  
  .circle:nth-child(2) {
    bottom: -75px;
    right: -85px;
    z-index: 10;
    animation-name: move-down1;
  }
  
  

  .card-home__price{
    padding: 0;
  }


  
  /**/
  .card-home {
   
    border-radius: 1em;
    padding: 1rem;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 20px rgba(43, 8, 37, 0.2);
   }
   
   .card-home:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
    transition: 0.5s;
   }
   
   .card-home__body {
    width: 100%;
    position: relative;
    z-index: 3;
    color: #f5f5f5;
    opacity: 0;
    transform: translateY(20%);
    transition: 0.5s;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: .5em;
}
   
   /*Text*/
   .card-home__title {
    font-size: 15px;
    font-weight: 500;
   }
   
   .card-home__body {
    letter-spacing: 1px;
    font-size: 0.9rem;
    margin: 5px 0 15px 0;
   }
   
   /*Button*/
   .card-home__btn {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 4px;
    background: var(--primary-color);
    color: var(--secondary-color);
    font-weight: bold;
    transition: 0.4s ease;
    cursor: pointer;
   }
   
   /*Image*/
   .card-home__img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
   }
   
   /*Hover*/
   .card-home:hover {
    transform: translateY(5%) rotate(1deg);
    
    }

   
   .card-home:hover:before {
    opacity: 1;
   }
   
   .card-home:hover .card-home__body {
    opacity: 1;
    transform: translateY(0);
   }
   
   .card-home__btn:hover{
    border: 1px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
}

   .card-home__btn:hover i{
    border: 1px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
    animation: super-cart 3s;
    border: none;
}


   .card-home__btn .fa-solid{
    width: 100%;
    height: 100%;
    border: none;
    color: var(--body-bg);
   }


   @keyframes super-cart {
    to {
      transform: translateY(-10px) rotate(90deg);
      transform: translateX(30px) rotate(-30deg);
      margin-right: 200px;
    }
    20%{
        transform: translateY(-10px) rotate(90deg);
        transform: translateX(-30px) rotate(-30deg);
    }
    
    30%{
        transform: translateY(-10px) rotate(90deg);
        transform: translateX(40px) rotate(-30deg);
    }

    40%{
        transform: translateY(-10px) rotate(90deg);
        transform: translateX(-20px) rotate(-30deg);
    }

    50%{
        transform: translateY(-10px) rotate(90deg);
        transform: translateX(30px) rotate(-30deg);
    }

    60%{
        transform: translateY(-10px) rotate(90deg);
        transform: translateX(-20px) rotate(-30deg);
    }

    70%{
        transform: translateY(-10px) rotate(90deg);
        transform: translateX(10px) rotate(-30deg);
    }

    100%{
        transform: translateY(-10px) rotate(90deg);
        transform: translateX(0) rotate(0deg);
    }
    
  }



  @keyframes move-up6 {
    to {
      transform: translateY(-10px);
      transform: translateX(30px);
    }
  }
  
  @keyframes move-down1 {
    to {
      transform: translateY(10px);
      transform: translateX(-30px);
    }
  }

/* 
  @media (min-width:880px){
    .card-home{
        width: 250px;
        height: 180px;
    }
  } */