.searchpage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;


.searchpage_title{
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
}

.searchpage_form {
    --input-text-color: #fff;
    --focus-input-bg-color: transparent;
    --text-color: var(--secondary-color);
    --active-color: var(--primary-color);
    --inline-padding-of-input: 1.2em;
    --gap: 0.9rem;
  }
  .searchpage_form {
    margin: 10px 0 ;
    font-size: 0.9rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 70%;
    position: relative;
    isolation: isolate;
  }
  .searchpage_fancy-bg {
    position: absolute;
    width: 100%;
    inset: 0;
    background: var(--secondary-card);
    border-radius: 30px;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  label {
    width: 100%;
    padding: 0.8em;
    height: 40px;
    padding-inline: var(--inline-padding-of-input);
    display: flex;
    align-items: center;
  }
  
  .searchpage_search,.searchpage_close-btn {
    position: absolute;
  }
  .searchpage_search {
    fill: var(--text-color);
    left: var(--inline-padding-of-input);
  }
  svg {
    width: 17px;
    display: block;
  }
  .searchpage_close-btn {
    border: none;
    right: var(--inline-padding-of-input);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--active-color);
    opacity: 0;
    visibility: hidden;
  }
  .searchpage_input {
    color: var(--input-text-color);
    width: 100%;
    margin-inline: min(2em,calc(var(--inline-padding-of-input) + var(--gap)));
    background: none;
    border: none;
  }
  
  .searchpage_input:focus {
    outline: none;
  }
  
  .searchpage_input::placeholder {
    color: var(--text-color)
  }
  .searchpage_input:focus ~ .searchpage_fancy-bg {
    border: 1px solid var(--active-color);
    background: var(--focus-input-bg-color);
  }
  .searchpage_input:focus ~ .searchpage_search {
    fill: var(--active-color);
  }
  .searchpage_input:valid ~ .searchpage_close-btn {
    opacity: 1;
    visibility: visible;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
  }
}


.searchpage_filters{
    display: flex;
    width: 90%;
    justify-content: center;
    gap: 3em;

    @media (max-width: 800px) {
        flex-direction: column;
        gap: 0;

    }
}

.searchpage_results{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}


.pagination {
  display: flex;
  border: 2px solid #304857;
  border-radius: 10px;
  margin: 0px 0 40px 0;
}

.pagination__item {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 12px 20px;
  font-weight: 700;
  color: var(--secondary-color);
  
  &:hover{
    background-color: var(--primary-color);
    color: var(--body-bg);
  }
}

.pagination__item:not(:last-child) {
  /* Right border */
  border-right: 1px solid var(--primary-color);
}

.pagination__item--active {
  background-color: #d1d5db;
}