

.slider_item{
    width: 100%;
    height: 500px;
    background: #F9F3EE;
    position: relative;
}


.slider_img_container{
    width: 100%;
    height: 100%;

    .slider_img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.slider_text_l{
    position: absolute;
    width: 500px;
    top: 40px;
    left: 100px;
    font-size: 60px;
    font-weight: 700;
    color: rgba(109, 109, 109, 0.167);
}
.slider_text_l span{
    font-size: 20px;
    font-weight: 700;
    color: rgba(145, 145, 145, 0.221);
}
.slider_text_r{
    position: absolute;
    width: 500px;
    top: 40px;
    right: 100px;
    font-size: 60px;
    font-weight: 700;
    color: rgba(109, 109, 109, 0.167);
}
.slider_text_r span{
    font-size: 20px;
    font-weight: 700;
    color: #91919138;
}

.slider_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #F9F3EE;
}
