.slider_container{
    width: 100%;
}
.slider_item{
    width: 100%;
    height: 530px;
    position: relative;
}


.slider_img_container{
    width: 100%;
    height: 100%;

    .slider_img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.slider_text_l{
    position: absolute;
    width: 500px;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.slider_text_l span{
    color: var(--primary-color);
}
.slider_text_r{
    position: absolute;
    width: 500px;
    top: 40px;
    right: 100px;
    font-size: 60px;
    font-weight: 700;
    color: rgba(109, 109, 109, 0.167);
}
.slider_text_r span{
    font-size: 20px;
    font-weight: 700;
    color: #91919138;
}

.slider_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #F9F3EE;
}

.text-box{
    color: #fff;
    position: absolute;
    left: 50px;
    bottom: 8%;

    p{
        font-size: 46px;
        font-weight: 700;
        color: var(--primary-color);
    }

    h2{
        font-family: "poppins", sans-serif;
        font-size: 150px;
        line-height: 160px;
        font-weight: 800;
        margin-left: -10px;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        background: url("./images/back.png");
        -webkit-background-clip: text;
        background-position: 0 0;
        animation: back 20s linear infinite;
    }

    h3{
        font-size: 28px;
        font-weight: 700;
        color: var(--primary-color);
    }

    .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 30px;


        a{
            color: #fff;
            padding: 14px 20px;
            margin-right: 20px;
            font-weight: 700;
            border: 2px solid #fff;
        }

        span{
            font-weight: 700;
            text-shadow: -1px 2px 8px #000000;
        }
    }
}


.slider_btn{
    position: absolute;
    top: 50%;
    left: 20%;
    border: none;
    border-radius: 3px;
    padding: 1rem 2.8rem;
    background-color: transparent;
    border: 3px solid #F9F3EE;
    border-left: 3px solid var(--primary-color);
    color: #F9F3EE;
    font-size: 1rem;
    font-weight: 700;
}

.circle-banner {
    width: 70px;
    height: 70px;
    background: radial-gradient(#ced416, #6af08e);
    border-radius: 50%;
    animation: move-up6 2s ease-in infinite alternate-reverse;
    position: absolute;
    top: 240px;
    right: 2%;

  }
  
.circle-banner2 {
    width: 160px;
    height: 160px;
    background: radial-gradient(#b4d814, #6af08e);
    border-radius: 50%;
    animation: move-up6 2s ease-in infinite alternate-reverse;
    position: absolute;
    top: 50px;
    right: 2.5%;

  }
  

  @keyframes back {
    100%{
        background-position: 2000px 0;
    }
  }