
.contact{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 60px 0;
}

.contact_main{
    width: 360px;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--card-bg);
    box-shadow: 5px 20px 50px #000;


    
    
    .contact_container{
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
    }
    
    
    .contact_label{
        color: var(--primary-color);
        font-size: 2.3rem;
        display: flex;
        justify-content: center;
        margin: 60px 60px 10px 60px;
        font-weight: bold;
        cursor: pointer;
        transition: .5s ease-in-out;
    }
    
  .contact_item_container{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.contact_item{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 16px;
    flex-direction: column;
    align-items: center;

    }

    .contact_label_text{
        font-size: 12px;
        width: 100%;
    }

    .contact_input{
        width: 60%;
        height: 20px;
        background: #e0dede;
        display: flex;
        justify-content: center;
        padding: 20px 20px 20px 14px;
        border: none;
        outline: none;
        border-radius: 5px;
    
        
       
    }

    .contact_input_text{
        padding-bottom: 140px;
        align-items: flex-start;
        text-align: start;
        justify-content: start;
    }
    
    
    .contact_btn{
        width: 60%;
        height: 40px;
        margin: 30px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--body-bg);
        background: var(--primary-color) ;
        font-size: 1em;
        font-weight: bold;
        margin-top: 20px;
        outline: none;
        border-radius: 5px;
        transition: .2s ease-in; 
        border: none;
        cursor: pointer;
    
        &:hover{
            border: 1px solid var(--primary-color);
            background-color: transparent;
            color: var(--primary-color);
        }
    
    
        
        
    }
    
    
 
    
}

