  
.features{
    position: relative;
    padding: 40px 20px 0 20px;
    margin: 20px 0 60px 0;
    display: flex;
    flex-direction: column;
    gap: 3em;
    font-size: 1.3rem;


}

.feature{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.feature__title{
    color: var(--heading-color);

    @media (max-width: 800px) {
        font-size: 2.8rem;
    }

}


.feature__subtitle{
    font-size: 16px;
    color: var(--primary-color);

}

.feature__title span{
    color: var(--primary-color);
}


.features p{
    line-height: 30px;
    text-align: center;
    font-size: 1rem;
    color: var(--small-text-color);

    @media (max-width: 800px) {
        font-size: .8rem;
    }
}

.feature__list{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.feature__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 1em;
}

.feature__img{
    width: 80%;
}


@media (min-width: 800px){
    .feature__list{
        flex-direction: row;
    }
    .feature__list{
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        max-width: 1100px;
        gap: 2em;
    }
}


.layer10{
    z-index: -1;
    position: absolute;
    top: 170px;
    left: 0;
    background-image: url("../../../../assets/svg/layout10.svg");
}
