  
.features{
    padding: 0 20px;
    margin: 20px 0 60px 0;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.feature{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.feature__title{
    color: var(--heading-color);
}


.feature__subtitle{
    font-size: 16px;
    color: var(--primary-color);
}

.feature__title span{
    color: var(--primary-color);
}


.features p{
    text-align: center;
    font-size: 14px;
    color: var(--small-text-color);
}

.feature__list{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.feature__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: .5em;
}

.feature__img{
    width: 80%;
}


@media (min-width: 800px){
    .feature__list{
        flex-direction: row;
    }
    .feature__list{
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        max-width: 1100px;
        gap: 2em;
    }
}