.show_services{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 100px 0;
    position: relative;



    &_container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2em;
    }
}


.layer10{
    z-index: -1;
    position: absolute;
    top: 100px;
    left: 0;
    background-image: url("../../../assets/svg/layout10.svg");
  }
  