.productinfo{
    max-width: 1200px;
    width: 100%;
    margin: 30px auto 100px auto;
    display: flex;
    @media (max-width: 900px) {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}
.productinfo_details{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;


  }
  .productinfo_details .big-img{
    width: 500px;
    height: 350px;
    @media (max-width: 800px) {
        width: 300px;
        height: 240px;

    }
  }
  .big-img img{
    width: 100%;
    height: 100%;
    max-height: 400px;
    display: block;
    object-fit: contain;
  }
  

  .thumb{
    width: 100%;
    height: 100px;
    justify-content: center;
    display: flex;
    cursor: pointer;
    margin: 30px 0 0 0;
  }
  .thumb img{
    width: 90px;
    height: 100%;
    display: block;
    object-fit: cover;
    border: 1px solid #ddd;
    margin-right: 5px;
    opacity: 0.7;
    border-radius: 5px;
  }
  .thumb img.active{
    opacity: 1;
    border: 3px solid var(--primary-color);
  }


  .productDetail_info{
    width:50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    @media (max-width: 800px) {
        width: 90%;
    }
    &_title{
        text-align: center;
    }

    &_description{
        line-height: 25px;
        text-align: justify;
    }
    &_stats{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
    &_stars{
        display: flex;
        gap: .5em;
        color: rgb(255, 255, 100);
        font-size: 1.1rem;

    }

    &_price{
        font-size: 2rem;
        font-weight: 600;
    }

    &_extras{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 1.5em;
        
        &_item{
            padding: 20px;
            background-color: rgba(177, 177, 177, 0.145);
            display: flex;
            flex-direction: column;
            gap: .5em;
            border-radius: 10px;
        }
    }

    &_quantity{
        display: flex;
        justify-content: center;
        gap: 1.5em;
        align-items: center;
        &_counter{
            padding: 1rem 2rem;
            background-color: var(--primary-color);
            color: black;
            font-weight: 900;
        }

        i{
            padding: 10px;
            background-color: rgba(177, 177, 177, 0.145);
            font-size: 10px;
        }
    }

    &_btns{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 2em;
        button{
            font-size: 1rem;
            font-weight: 600;
            border-radius: 10px;
            padding: 1rem 2rem;
            cursor: pointer;
        }
        &_btn1{
            border: 1px solid var(--primary-color);
            color: var(--primary-color);
            background-color: transparent;


            &:hover{
                color: var(--body-bg);
                background-color: var(--primary-color);
            }
        }

        &_btn2{
            border: 1px solid var(--primary-color);
            color: var(--body-bg);
            background-color: var(--primary-color);

            &:hover{
                background-color: transparent;
                color: var(--primary-color);
            }
        }

    }

  }
  
  @media (max-width: 500px){
    .thumb{
      height: 50px;
    }
    .thumb img{
      width: 50px;
    }
  }